<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/footer/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.04175 7.75H21.9584M5.16675 15.5H25.8334H9.04175M9.04175 23.25H21.9584" stroke="#151515" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#about">About the Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#about">About the Game</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>

    </ul>
</div>