<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
        <h1 class="home-title">Jigsaw Solitaire Art Puzzle</h1>
        <p class="home-big-text">Okay, so we made this puzzle game that's actually relaxing for once</p>
        <div class="home-text-wrapper">
            <p>Jigsaw Solitaire Art Puzzle mixes jigsaw puzzles with solitaire-style play - it's pretty relaxing.</p>
            <p>The artwork is gorgeous and everything just flows, so you can chill out, focus, and solve puzzles however fast or slow
            you want.</p>
            <p>Take a quiet moment. Breathe. And enjoy the puzzle.</p>
        </div>
        <div class="home-btn-wrapper">
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.techarts.jigsaw.solitaire.art.puzzle&hl=en&gl=us">Play Now</a>
            <a class="home-link home-link-two" href="#gallery">Explore Puzzles</a>
        </div>
        </div>
        <picture>
            <source srcset="
                        /img/home/desk.png 1x,
                        /img/home/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                        /img/home/mob.png 1x,
                        /img/home/mob@2x.png 2x
                         " media="(max-width: 1439px)" />
            <img src="/img/home/mob.png" alt="Jigsaw Solitaire Art Puzzle" loading="lazy" />
        </picture>
    </div>
</section>