body{
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}
h2{
  font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.1em;
    text-align: center;
    color: #ff637e;
    margin-bottom: 7px;
}
h3{
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #000;
    margin-bottom: 34px;
}